:root {
  --color-primary-dark: #011c44;
  --color-primary-light: #f2f1ed;
  --color-brand: #141b7a;
  --color-brand-secondary: #03567a;
  --color-secondary-dark: #785b1f;
  --color-secondary-light: #bce6f7;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
