:root {
  --color-primary-dark: #010915;
  // --color-primary-light: #f2f1ed;
  --color-primary-light: #fefdf8;
  --color-brand: #141b7a;
  --color-brand-secondary: #03567a;
  --color-secondary-dark: #785b1f;
  --color-secondary-light: #bd8e31;
  --color-accent: #1d25b6;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
