.link {
  color: var(--color-primary-dark);
  text-decoration: none;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.05em;
  transition: color 0.2s;
  &:hover {
    font-weight: 500;
    color: var(--color-brand);
  }
  &__lang {
    color: #011c44b8;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s;
    &:hover {
      font-weight: 500;
      color: var(--color-brand);
    }
  }
  &__mobile {
    color: var(--color-primary-dark);
    text-decoration: none;
    // font-size: 14px;
    // line-height: 1.17s;
    transition: color 0.2s;
    &:hover {
      font-weight: 500;
      color: var(--color-brand);
    }
  }

  @media screen and (max-width: $bp-desktop) {
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: normal;
  }
  &__sub-menu {
    color: var(--color-primary-dark);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.05em;
    transition: color 0.2s;
    &:hover {
      font-weight: 500;
      color: var(--color-brand);
    }

    @media screen and (max-width: $bp-desktop) {
      line-height: 1.17;
      letter-spacing: normal;
    }
  }
  &__footer {
    color: var(--color-primary-light);
    text-decoration: none;
    transition: color 0.2s;
    font-size: 16px;
    &:hover {
      font-weight: 500;
      color: var(--color-secondary-light);
    }
  }

  // @media screen and (max-width: $bp-tablet) {
  //   font-size: 14px;
  //   line-height: 1.5;
  // }
}
