.company-page {
  margin-top: 112px;
  margin-bottom: 52px;
  &__title {
    padding-top: 1.2em;
    &--h1 {
      font-size: 56px;
      font-weight: 600;
      letter-spacing: normal;
      @media screen and (max-width: $bp-desktop) {
        font-size: 50px;
      }
      @media screen and (max-width: $bp-tablet) {
        font-size: 38px;
      }
      @media screen and (max-width: $bp-mobile) {
        font-size: 32px;
      }
    }
  }
  &__list,
  &__text {
    padding-top: 48px;
    @media screen and (max-width: $bp-desktop) {
      padding-top: 42px;
    }
    @media screen and (max-width: $bp-tablet) {
      padding-top: 32px;
    }
    @media screen and (max-width: $bp-mobile) {
      padding-top: 26px;
    }
  }
  &__card {
    padding: 12px;
    background-color: rgba(3, 86, 122, 0.05);
    border-radius: 8px;
  }
  &__customers {
    margin-bottom: 48px;
    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 42px;
    }
    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 32px;
    }
    @media screen and (max-width: $bp-mobile) {
      margin-bottom: 26px;
    }
  }
}
