.customers-section {
  padding-top: 52px;

  &__title {
    margin-bottom: 1.4em;
  }
  &__container {
    overflow: hidden;
  }
  &__slide {
    height: 100px;
    border-radius: 12px;
    margin: 4px 4px;
    // margin-bottom: 4px;
    background-color: rgba(3, 86, 122, 0.05);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    &:hover {
      background-color: rgba(3, 86, 122, 0.08);
      box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.2);
      // transform: scale(1.01);
    }
  }
  &__card {
    padding-top: 12px;
    color: var(--color-brand);
    margin-top: 0;
    @media screen and (max-width: $bp-desktop) {
      font-size: 18px;
    }
  }
  &__text {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    // margin: 0 24px;
    padding-top: 3em;
    @media screen and (max-width: $bp-tablet) {
      padding-top: 2em;
      // margin: 0;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    // flex-direction: column;
    font-size: 22px;
    gap: 8px;
    line-height: 1.33;
    fill: var(--color-accent);
    flex-shrink: 0;
    text-decoration: none;
    transition: font-weight 0.2s;
    &:hover {
      font-weight: 500;
    }
    @media screen and (max-width: $bp-tablet) {
      justify-content: center;
    }
  }
  // &__text-bottom {
  //   margin: 0 24px;
  //   @media screen and (max-width: $bp-tablet) {
  //     margin: 0;
  //   }
  // }
}
