.services-page {
  margin-top: 112px;
  margin-bottom: 52px;
  &__title {
    padding-top: 2em;
    &--h1 {
      font-size: 56px;
      font-weight: 600;
      letter-spacing: normal;
      @media screen and (max-width: $bp-desktop) {
        font-size: 50px;
      }
      @media screen and (max-width: $bp-tablet) {
        font-size: 38px;
      }
      @media screen and (max-width: $bp-mobile) {
        font-size: 32px;
      }
    }
    &--h2 {
      padding-top: 1em;
    }
  }
  &__list {
    margin-bottom: 1em;
  }
}
