.whywe-section {
  padding-top: 52px;
  @media screen and (max-width: $bp-tablet) {
    padding-top: 42px;
  }
  @media screen and (max-width: $bp-mobile) {
    padding-top: 36px;
  }

  // &__container {
  //   display: flex;
  //   align-items: flex-start;
  //   justify-content: space-between;
  //   gap: 40px;
  //   @media screen and (max-width: $bp-tablet) {
  //     display: block;
  //     gap: 0px;
  //   }
  // }
  // &__content {
  //   max-width: 710px;
  // }
  &__image {
    max-width: 442px;
    float: right; /* Вирівнювання по правому краю */
    margin: 0 0px 4px 40px; /* Відступи навколо картинки */
    border-radius: 12px;
    box-shadow: 0 2px 10px 0 rgba(222, 221, 221, 0.5);
    @media screen and (max-width: $bp-desktop) {
      max-width: 344px;
      // max-height: 180px;
    }
    @media screen and (max-width: $bp-tablet) {
      display: none;
    }
  }
  &__text-bottom {
    margin: 0;
    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 1em;
    }
  }
  &__image-mobile {
    display: none;

    @media screen and (max-width: $bp-tablet) {
      display: block;
      // max-width: -webkit-fill-available;
      width: 100%;
      max-width: fit-content;
      margin: 0;
      border-radius: 12px;
      box-shadow: 0 2px 10px 0 rgba(222, 221, 221, 0.5);
    }
  }
}
